/*img{border:0}/* css 注释说明：设置图片边框为0 */
body {
    text-align: center;
}

/* css注释说明：兼容ie6 支持标签使用hover */
.divcss5 {
    position: relative;
    width: 554px;
    height: 346px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
}

.divcss5 a, .divcss5 span {
    display: none;
    text-decoration: none
}

.divcss5 span img {
    display: none;
}

.divcss5:hover {
    cursor: pointer
}

.divcss5:hover a.now {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    display: block;
}

.divcss5:hover span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    width: 554px;
    z-index: 10;
    height: 346px;
    line-height: 346px;
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.5;
    opacity: 0.5;
    margin: 0 auto
}

/* 设置显示文字定位位置，背景半透明 */
.divcss5:hover span img {
    display: block;
    position: absolute;
    margin-top: 135px;
    margin-left: 90px;
}